*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Press Start 2P', cursive;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper {
  min-height: inherit;
  min-width: inherit;
  padding: 10rem 10rem;

  position: relative;
}

.tetris {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    z-index: 2;
}

.tetris-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.tetris-rigth {
  position: relative;
}

.tetris-rigth_scores {
    display: flex;
    flex-flow: column nowrap;
}

.tetris-rigth_button {
    position: absolute;
    top: 80%;
    left: 1%;
}

.points { 
    font-size: 3.2rem;
    font-weight: 600;
}

.game-over {
    background-color: #888181;
    opacity: .4;

    width: 80vw;
    height: 80vh;

    z-index: 10;
    position: absolute;
}

.game-over-sign {
    font-size: 3.8rem;
    color: "#fff";

    position: absolute;
    top: 40%;
    left: 30%;
}

.hidden {
    visibility: hidden;
}

.play-button {
    display: inline-block;
    width: 5rem;
    height: 2rem;

    background-color: #134805;
}